<tr>
  <td><%= activity.id %></td>
  <td><%= activity.title %></td>
  <td><%= activity.memo %></td>
  <!-- <td><%= activity.activity_tag %></td> -->
  <td><%= activity.start_time %> - <%= activity.end_time %></td>
</tr>
