<tr>
  <td><%= activity.id %></td>
  <td><%= activity.activity_tag %></td>
  <td><%= activity.title %></td>
  <td><%= activity.start_time %></td>
  <td><%= activity.end_time %></td>
  <td><%= activity.memo %></td>
</tr>
