<div>
  <%= form_for(@activity) do |f| %>
    <div>
      <%= f.text_field :title, placeholder: "title" %>
    </div>
    <div>
      <%= f.text_area :memo, placeholder: "memo" %>
    </div>
    <div>
      <%= f.text_field :activity_tag, placeholder: "activity_tag" %>
    </div>
    <div>
      <%= f.text_field :start_time, placeholder: "start_time" %>
    </div>
    <div>
      <%= f.text_field :end_time, placeholder: "end_time" %>
    </div>
    <div>
      <%= f.submit class: 'btn btn-primary withripple', value: '記録' %>
    </div>
  <% end %>
</div>
<div>
  <table>
    <caption>記録の履歴</caption>
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="" rowspan="" headers="">id</td>
        <td colspan="" rowspan="" headers="">activity_tag</td>
        <td colspan="" rowspan="" headers="">title</td>
        <td colspan="" rowspan="" headers="">start_time</td>
        <td colspan="" rowspan="" headers="">end_time</td>
        <td colspan="" rowspan="" headers="">memo</td>
      </tr>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.id %></td>
        <td><%= activity.activity_tag %></td>
        <td><%= activity.title %></td>
        <td><%= activity.start_time %></td>
        <td><%= activity.end_time %></td>
        <td><%= activity.memo %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>